{{ $lang := "no-highlight"}}
{{ with .Type }}
    {{ $lang = . }}
{{ end }}

<div style="position: relative"><pre><code
        class="language-{{ $lang }} hljs" data-lang="{{ $lang }}">{{ .Inner | safeHTML }}</code></pre><button
        class="btn" title="copy to clipboard"
        onclick="navigator.clipboard.writeText(this.previousElementSibling.textContent)"
        style="position: absolute; top: 0; right: 5px; opacity: 30%;"><i
        class="fa fa-clipboard"></i></button>{{ with .Attributes.src }}
    <button title="download" class="btn" style="position: absolute; top: 25px; right: 3px; opacity: 30%;"><a href="{{ . }}" download=""><i class="fa fa-download" aria-hidden="true"></i></a></button>{{ end }}</div>
