{{- define "main" -}}
{{ partial "page_header.html" . }}
<div class="universal-wrapper">
    {{ with .Content }}
    <div class="article-style">{{ . }}</div>
    {{ end }}
    <div id="list-filter">
        <p>
        <input id="filter-search" placeholder="Search..." autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false" type="search">
        </p>
        <p>
            <a href="#" data-filter="*" class="current"><button class="btn btn-info active">All</button></a>
            {{$section := .Section}}
            {{ range where .Site.Taxonomies.categories ".Page.Section" $section }}
            <a href="#" data-filter=".{{ anchorize .Page.Title }}"><button class="btn btn-info">{{ .Page.Title }}</button></a>
            {{ end }}
        </p>
    </div>
    <div class="page-list">
        {{ range .Pages }}
        {{ $categories := apply .Params.categories "anchorize" "." }}
        <div class = "{{ with $categories }}{{ delimit . " " }}{{end}}">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <div class="article-style">
                {{ if .Params.summary }}
                {{ .Params.summary | plainify | emojify }}
                {{ else if .Params.abstract }}
                {{ .Params.abstract | plainify | emojify | truncate 250 }}
                {{ else if .Summary }}
                {{ .Summary | plainify | emojify }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    <script type="text/javascript">
        window.onload = () => {
            const $container = $('.page-list');
            const $search = $('#filter-search');

            $container.isotope({
                filter: null,
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            function filter(item, selector) {
                const searchText = $search.val().toLowerCase();
                let show = true;
                if (selector) {
                    show = item.hasClass(selector);
                }
                if (show && searchText.trim()) {
                    show = (item.text() + "\n" + item.attr('class')).toLowerCase().includes(searchText);
                }
                return show;
            }

            $('.filter a').click(function () {
                $('#list-filter .current .btn').removeClass('active');
                $('#list-filter .current').removeClass('current');
                $(this).addClass('current');
                $('.btn', this).addClass('active');
                const selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: function () {
                        return filter($(this), selector.slice(1))
                    }
                });
                return false;
            });

            $search.on('input', function () {
                const selector = $('#list-filter .current').attr('data-filter');
                $container.isotope({
                    filter: function () {
                        return filter($(this), selector.slice(1))
                    }
                });
            });
        };
    </script>
    <style>
        #filter-search{
            border: 1px solid #dedede;
            border-radius: 1rem;
            padding: 1rem;
            width: 250px;
            line-height: 1rem;
            height: 1rem;
            font-size: 0.8rem;
        }
    </style>
</div>
{{ end }}
